.round {
	padding-left: 25px;
    border-radius: 15px;
    border: 1px #000 solid;
}

.corner {
    position: absolute;
    top: 34%;
    left: 5px;
    height: 20px;
    width: 20px;
    z-index: 10;
    border-radius: 10px;
    border: none;
}

.search {
	padding: 5px 0px 5px 0px;
    position: relative;
    width: 190px;
    height: 30px;
    left: 142px;
}

.center {
    float: none;
    margin: 0 auto;
    text-align: center;
    margin: auto;
    width: 50%;
    /*padding: 10px;*/
}
.center-big {
    float: none;
    margin: 0 auto;
    text-align: center;
    margin: auto;
    width: 75%;
    padding: 10px;
}
.middle{
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 1000px;
}
.down{
    margin: 0;
    position: absolute;
    top: 85%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.login {
  float: none;
  text-align: center;
  margin: auto;
  width: 25%;
  color: white;
  letter-spacing: 1px;
  line-height: 15px;
  border-radius: 40px;
  background: #16A6FE;
  transition: all 0.3s ease 0s;
  font-weight: bold;
}

.login:hover {
  width: 30%;
}
.signup-button{
	float: none;
	margin: auto;
	letter-spacing: 1px;
	line-height: 15px;
	border-radius: 40px;
	background: #16A6FE;
	transition: all 0.3s ease 0s;
	font-weight: bold;
	width: 35%;
}
.signup-button:hover{
    width: 40%;
}
.flash{
	position: relative;
	top: -5px;
}
.counter{
	margin-top: 10px;
	margin-bottom: 30px;
}
.switch{
	margin-top: 10px;
	margin-bottom: 10px;
}
#mainNav{
	margin-top:10px; 
}
.nav-left{
	right: 200px;
}
.nav-item {
	width: 50px;
	padding: 0px;
	color: black;
}
#nav-user{
	width: 25px;
	top: 15px;
}
#nav-bell{
	left: -10px;
}

.container{
	top: 50px;
	position: relative;
}
#nav-img{
	width: 27px;
	height: 27px;
	left: 50%;transform: translateX(-50%);
	top: -16px;
	/*left: -15px;*/
}
.admin-table-img{
	width: 27px;
	height: 27px;
	left: 50%;transform: translateX(-50%);
}
#logged-out-menu{
	top: -14px;
	left: -15px;
}